@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://db.onlinewebfonts.com/c/d9a58a393d946d86051fbd9a0b594d2f?family=Audrey");
@font-face {
  font-family: "Audrey";
  src: url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.eot");
  src: url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.svg#Audrey")
      format("svg");
}

*{
    margin: 0;
    padding: 0;
    
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
  }

  .swiper-slide {
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 376px;
    background: #000;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
  }
  img{
    border-radius: 8px;
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
  }

  .yyyy{
    height: 48px;
    width: 168px;
    background-color: white;
    margin: -38px auto 83px auto;
    border-radius: 7px;
    text-align: center;
    font-family: system-ui;
  }

  .yyyy h2{
    font-weight: 900; 
    font-size: 3.5em; 
    color: #043379; 
    padding-top: 1px;
  }

  .swiper-pagination-bullet-active{
    background-color: white;
  }

  .arrow{
    height: 60px;
    width: 40px;
    background-color:rgba(211, 211, 211, 0.495); 
    color: white; 
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
    border-radius: 5px;
  }

  .arrow:hover{
    background-color: rgba(2, 2, 2, 0.282);
  }

  .arrow:active{
    color: rgba(0, 0, 0, 0.638);
  }

  .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    display: flex;
}
.heading1{
  font-family: "Audrey";
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}
.composition_photo{
  /* margin:0px 110px; */
  height: 40vh;

  float: left;
  margin: 40px 60px 60px 40px;

}

p{
  font-size: 2.1rem;
    line-height: 1.5;
    text-align: justify;
    padding-right: 20px;
}

  
@media only screen and (max-width: 350px){
  .swiper-wrapper img{
    height: 100vw;
    width: 70vw;
  }
}

@media only screen and (max-width: 768px) {
  .modal{
    margin-left: 80px;
    }

}

@media only screen and (max-width: 1483px) {
  .modal-body {
    display: block;
}
}
  