@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,600;1,900&display=swap');/* @import url("https://db.onlinewebfonts.com/c/d9a58a393d946d86051fbd9a0b594d2f?family=Audrey");
@font-face {
  font-family: "Audrey";
  src: url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.eot");
  src: url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.svg#Audrey")
      format("svg");
} */

*{
    margin: 0;
    padding: 0;
    
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b4e1fa; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #007AFF; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
    background: #fff;
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
  }

  .footer{
    font-family: 'Poppins' !important;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
  }

  .swiper-slide {
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 376px;
    background: #000;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
  }
  img{
    border-radius: 8px;
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
  }

  .yyyy{
    height: 59px;
    width: 168px;
    background-color: white;
    margin: -38px auto 83px auto;
    border-radius: 7px;
    text-align: center;
    font-family: system-ui;
  }

  .yyyy h2{
    font-weight: 900; 
    font-size: 3.5em; 
    color: #043379; 
    padding-top: 1px;
  }

  .swiper-pagination-bullet-active{
    background-color: white;
  }

  .arrow{
    height: 60px;
    width: 40px;
    background-color:rgba(211, 211, 211, 0.495); 
    color: white; 
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
    border-radius: 5px;
  }

  .arrow:hover{
    background-color: rgba(2, 2, 2, 0.282);
    transition-duration: 0.5s;
  }

  .arrow:active{
    color: rgba(0, 0, 0, 0.638);
  }
  .modal-dialog,
  .modal-content {
      /* 80% of window height */
      height: 91%;
      
  }
  .modal-content{
    overflow-y: scroll;
  }
  .modal-content{
    min-width: 99px;
  }
  .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(93% - 120px);
    /* overflow-y: scroll; */
}
.heading1{
  font-family: "Poppins" !important;
  font-style: italic;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}
.composition_photo{
  /* margin:0px 110px; */
  height: 40vh;

  /* float: left; */
  margin: 40px 0px 60px 400px;

}

p{
  font-size: 2.1rem;
  line-height: 1.5;
  text-align: justify;
  padding-right: 20px;
  font-family: 'Poppins';
}

/* .modal-dialog{
  min-width: 168px;
} */

@media only screen and (max-width: 1090px) {
  .swiper-container-3d .swiper-cube-shadow, 
  .swiper-container-3d .swiper-slide, 
  .swiper-container-3d .swiper-slide-shadow-bottom, 
  .swiper-container-3d .swiper-slide-shadow-left, 
  .swiper-container-3d .swiper-slide-shadow-right, 
  .swiper-container-3d .swiper-slide-shadow-top, 
  .swiper-container-3d .swiper-wrapper{
    transform-style: unset;
  }

  img{
    margin: 0 12px;
  }

}

@media only screen and (max-width: 1342px) {
  .composition_photo{
    height: 40vw;
    width: 58.5vw;
    margin-left: 4.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .modal{
    margin-left: 21%;
    margin-top: 3%;
    }

  .swiper-container img{
      margin: 0 120px;
    }

    .composition_photo{
      height: 30vw;
      width: 40.5vw;
      margin-left: 4vw;
    }

}

@media only screen and (max-width: 558px) {

  .heading1{
    font-size: 2rem;
  }

  .modal{
    margin-left: 19%;
    }
}
 
@media only screen and (max-width: 412px){
  .swiper-wrapper img{
    height: 100vw;
    width: 70vw;
  }
  .modal{
    margin-left: 4.5%;
    width: 124%;
  }
}


